/* RESET */
*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Inter',sans-serif;
background:var(--bg);
color:var(--text);
}

/* HEADER */
.header{
padding:20px;
background:var(--card);
position:sticky;
top:0;
z-index:10;
border-radius:16px;
  border:1px solid var(--border);
  box-shadow: 0 1px 2px var(--shadow);
}

.header h2{
font-size:22px;
font-weight:700;
}

.header p{
color:#666;
font-size:14px;
margin-top:4px;
}

/* CONTAINER */
.container{
display:flex;
flex-direction:column;
gap:12px;
}

/* CARD UMUM */
.card{
background:var(--card);
padding:16px;
border-radius:16px;
box-shadow:0 2px 10px rgba(0,0,0,0.05);
}

/* SALDO */
.saldo{
font-size:30px;
font-weight:700;
margin-top:10px;
color:#22c55e;
}

/* TOTAL BOX */
.totalRow{
display:flex;
gap:10px;
}

.totalItem{
flex:1;
padding:14px;
border-radius:14px;
color:white;
}

.masuk{
background:#22c55e;
}

.keluar{
background:#ef4444;
}

.totalItem small{
display:block;
font-size:12px;
opacity:0.9;
margin-bottom:6px;
}

.totalItem h3{
font-size:18px;
}

/* TRANSAKSI */
.transaksi{
display:flex;
justify-content:space-between;
align-items:center;
padding:12px 0;
border-bottom:1px solid var(--borderTransaksi);
}

.transaksi:last-child{
border-bottom:none;
}

.transaksiKiri{
display:flex;
align-items:center;
gap:10px;
}

.icon{
width:40px;
height:40px;
border-radius:8px;
display:flex;
align-items:center;
justify-content:center;
font-weight:bold;
color:white;
}

.iconMasuk{
background:#22c55e;
}

.iconKeluar{
background:#ef4444;
}

.nama{
font-weight:600;
font-size:14px;
}

.tanggal{
font-size:12px;
color:#777;
}

.nominalMasuk{
color:#22c55e;
font-weight:700;
}

.nominalKeluar{
color:#ef4444;
font-weight:700;
}

/* MENU BOTTOM */
.menu{
position:fixed;
bottom:0;
left:0;
right:0;
background:white;
padding:12px;
display:grid;
grid-template-columns:repeat(4,1fr);
gap:8px;
border-top:1px solid #eee;
}

.menu button{
border:none;
background:var(--button);
color:white;
padding:12px 8px;
border-radius:8px;
font-size:13px;
font-weight:600;
cursor:pointer;
}

/* FORM INPUT */
input,
select,
textarea{
width:100%;
padding:12px;
border:1px solid var(--border);
border-radius:8px;
margin-top:6px;
margin-bottom:14px;
font-family:'Inter',sans-serif;
font-size:14px;
background:var(--cardInput);
}

textarea{
min-height:90px;
resize:none;
}

label{
font-size:13px;
font-weight:600;
}

/* BUTTON */
button{
font-family:'Inter',sans-serif;
}

.primaryBtn{
width:100%;
background:var(--button);
color:white;
border:none;
padding:14px;
border-radius:8px;
font-size:14px;
font-weight:600;
cursor:pointer;
}

/* DOMPET LIST */
.dompetCard{
display:flex;
justify-content:space-between;
align-items:center;
padding:14px;
border-bottom:1px solid #eee;
}

.dompetInfo{
display:flex;
align-items:center;
gap:12px;
}

.dompetIcon{
width:44px;
height:44px;
border-radius:8px;
background:#eef2ff;
display:flex;
align-items:center;
justify-content:center;
font-size:18px;
}

.dompetNama{
font-weight:600;
font-size:14px;
}

.dompetJenis{
font-size:12px;
color:#777;
}

.dompetSaldo{
font-weight:400;
font-size:16px;
text-align:right;
color:var(--text);
flex-shrink: 0;
}

/* EMPTY STATE */
.kosong{
text-align:center;
padding:30px;
color:#888;
font-size:13px;
}

/* BACK BUTTON */
.btnBack{
background:var(--textSecondary);
color:white;
border:none;
padding:12px;
border-radius:8px;
width:100%;
font-weight:600;
cursor:pointer;
font-size: 15px;
}

.btnBack:hover {
  background-color: var(--text);
}

#btnKredit:hover, #btnSimpanKredit:hover, #btnBatalKredit:hover, #bayarKredit:hover, #btnBatalBayar:hover {
  background-color: var(--text);
}

#dompetBayar {
  color: var(--text);
}

.btnEdit{
  width: 55px;
  margin-left: auto;
  margin-top: 8px;
  padding: 6px 10px;
  font-size: 12px;
  border: none;
  border-radius: 8px;
  background: #666666;
  color: white;
  cursor: pointer;
}

.btnEdit:hover{
  background: none;
}

.btnHapusKredit{
  width: 55px;
  margin-left: auto;
  margin-top: 8px;
  padding: 6px 10px;
  font-size: 12px;
  border: none;
  border-radius: 8px;
  background: #666666;
  color: white;
  cursor: pointer;
}

.btnBayarKredit {
  width: 55px;
  margin-left: auto;
  margin-top: 8px;
  padding: 6px 10px;
  font-size: 12px;
  border: none;
  border-radius: 8px;
  background: #666666;
  color: white;
  cursor: pointer;
}

.btnHapusKredit:hover{
  background: none;
}

.modal{

  position: fixed;

  inset: 0;

  background: rgba(0,0,0,.4);

  display: none;

  align-items: center;

  justify-content: center;

  z-index: 999;

}

.modalContent{

  background:var(--card);

  width: 90%;

  max-width: 320px;

  max-height: calc(100dvh - 80px);
    overflow-y: auto;

    margin-bottom: 80px;


  border-radius: 16px;

  padding: 16px;

}

.modalContent input,
.modalContent select{

  width: 100%;

  margin-top: 10px;

  padding: 12px;

  border: 1px solid #ddd;

  border-radius: 8px;

  color: var(--text);
}

.modalAction{

  display: flex;

  gap: 10px;

  margin-top: 16px;
}

.modalAction button{

  flex: 1;
}

.summaryBulanan{
  display:flex;
  gap:10px;
  margin-bottom:16px;
  margin-top:15px;
}

.summaryCard{
  flex:1;
  padding:14px;
  border-radius:12px;
  color:var(--textSecondary);

  backdrop-filter:blur(8px);

  border:1px solid var(--border);

  box-shadow: var(--shadow)
}

.summaryCard.masuk{
  background:var(--cardSummaryMasuk);
}

.summaryCard.masuk strong, .summaryCard.keluar strong {
  color: var(--text);
}

.summaryCard.keluar{
  background:var(--cardSummaryKeluar);
}

.summaryCard span{
  font-size:12px;
  color:rgba(255,255,255,0.85);
}

.summaryCard strong{
  display:block;
  margin-top:8px;
  font-size:15px;
  font-weight:700;
  color:var(--textButton);
}

.btnDownloadPdf {
  margin-bottom: 10px;
}

.menuLaporan{

  display:flex;

  border-bottom:1px solid var(--borderTransaksi);

  margin-bottom:15px;
}

.menuLaporan div{

  flex:1;

  text-align:center;

  padding:12px;

  cursor:pointer;

  font-weight:bold;
}

.menuAktif{

  color:#2d89ef;

  border-bottom:3px solid #2d89ef;
}

.cardBulanAktif{
  background:#333333;
  color:white;
  border-radius:12px;
}

#listBulan .card {
  margin-top:5px;
  padding:10px;
  cursor:pointer;
}

/* ================= kategori ================= */
.inputWrapper{
  position:relative;
}

#kategoriDropdown{
  position:absolute;
  top:calc(100% + 1px); /* hanya 2px jarak */
  left:0;
  right:0;

  background:var(--bg);
  border:1px solid var(--borderTransaksi);

  max-height:200px;
  overflow-y:auto;

  display:none;
  z-index:1000;
  margin-top:-15px;

  box-shadow:0 4px 12px rgba(0,0,0,.08);
  overflow:hidden;
}

.kategori-item{
  padding:12px 14px;
  cursor:pointer;
}

.kategori-item:last-child{
  border-bottom:none;
}

.kategori-item:hover{
  background:var(--bg);
}

#listKategori .card{
  border: none;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 1px solid var(--borderTransaksi);
} 

/* ============ untuk kredit hidden nominal pinjaman =================== */
.hidden{
  display:none;
}

.kreditCard{
  background:var(--cardList);
  border-radius:12px;
  padding:15px;
  margin-bottom:12px;
  box-shadow:0 2px 8px rgba(0,0,0,.08);
}

.kreditInfo h4{
  margin:0;
  font-size:17px;
}

.kreditInfo small{
  color:var(--text);
}

.kreditNominal{
  margin-top:12px;
  display:flex;
  justify-content: space-between;
  
}

.kreditNominal span{
  display:block;
  font-size:12px;
  color:var(--text);
}

.kreditNominal b{
  font-size:16px;
    white-space: nowrap;

}

.sisaKredit{
  color:#2d89ef;
}

.kreditAction{
  display:flex;
  gap:10px;
  margin-top:15px;
  width: auto;
}

.kreditAction button{
  flex:1;
}

.modal-kredit {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content-kredit {
  background: var(--card);
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

.hidden {
  display: none;
}

.progressWrap{
  width:100%;
  height:8px;
  background:#e5e7eb;
  border-radius:999px;
  overflow:hidden;
  margin-top:8px;
}

.progressBar{
  height:100%;
  background:#2d89ef;
  border-radius:999px;
}


.riwayatItem{
  padding:12px;
  border:1px solid #ddd;
  border-radius:10px;
  margin-bottom:10px;
}

.riwayatItem small{
  display:block;
  color:var(--text);
  margin-top:4px;
}

#detailKreditBody {
  margin-top: 10px;
}

.totalWrap{
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:10px;
}

.btnEditKredit{
  margin-top: 0;
  border:none;
  background:none;
  cursor:pointer;
  font-size:15px;
  align-items: center;
  padding: 0;
}

.card-notice{
  background:#FFF8E1;
  color: #333;
  border-radius:12px;
  padding:16px;
  box-shadow:0 2px 8px rgba(0,0,0,.08);
  margin-bottom: 10px;
}

/* ================== kalkulator ==================== */
#calcToolbar{

    display:none;

    grid-template-columns:repeat(4,1fr);

    gap:8px;

    margin-top:10px;

    margin-bottom:10px;

    width:100%;

}

#calcToolbar.show{
    display:flex;
    justify-content:space-between;
}

#calcToolbar button{

    width:40px;
    height:40px;

    border:none;
    border-radius:8px;

    font-size:15px;
    color:var(--text);
    margin:0;
    background:none;


}

#calcPreview{
    margin-top:5px;
    font-size:14px;
    color:var(--textPreview);
    font-weight:600;
}

.nominalWrapper{
    position: relative;
}

#nominal{
    padding-right: 48px;
    margin-bottom: 0;
}

#btnFx{
    position: absolute;

    top: 50%;
    right: 12px;

    transform: translateY(-50%);

    width: 30px;
    height: 30px;

    border: none;
    background: transparent;

    cursor: pointer;

    font-size: 18px;

    display:flex;
    align-items:center;
    justify-content:center;
    padding: 0;
    margin-top: 2px;
    color: #888;

}

#labelCatatan{
  margin-top: 15px;
}

#tipe {
  color: var(--text);
}

#nama {
  color: var(--text);
}