.toggle{
  font-size:12px;
  cursor:pointer;
  color:#8e8e8c;
}

.logo-login{
    width:40px;
    height:40px;
    object-fit:contain;
}

.header-login{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:12px;
    margin-bottom:20px;
    margin-top: 20px;
}

.nama-app {
    margin:0;
    font-size:30px;
}

.btnAdmin{
  top:40px;
  right:25%;
  width:100px;
  background:#04AA6D;
  cursor:pointer;
  box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

#loginBtn:hover, #registerBtn {
  background-color: var(--text);
}

.btnAdmin:hover{
  background:#037a52;
}

.lupaPassword{
  display:inline-block;
  margin-top:10px;
  text-decoration:none;
  color: #8e8e8c;
}

#footer{
  text-align:center;
  margin-top:40px;
  color:#777;
  font-size:14px;
}

/*==================== LUPA PASS ======================= */
.modal{
  display:none;
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.5);
  z-index:9999;
}

.modal-content{
  background:#fff;
  width:90%;
  max-width:350px;
  margin:100px auto;
  padding:20px;
  border-radius:12px;
  box-shadow:0 4px 12px rgba(0,0,0,.2);
}

.modal-content input{
  width:100%;
  padding:10px;
  margin-bottom:10px;
  box-sizing:border-box;
}

.modal-content button{
  width:100%;
  padding:10px;
}

.close{
  float:right;
  cursor:pointer;
  font-size:22px;
}

/* ======================= login ======================== */
.phone-input{
  display:flex;
  width:100%;
  height:44px;
  margin-bottom: 10px;
}

.prefix{
  display:flex;
  align-items:center;
  justify-content:center;
  margin-top: 8px;

  padding:0 12px;

  border:1px solid #ddd;

  border-radius:8px 0 0 8px;
  box-sizing:border-box;
  font-size: 14px;
}

.phone-input input{
  flex:1;
  height:100%;          /* penting */

  border:1px solid #ddd;
  border-left:none;

  border-radius:0 8px 8px 0;
  box-sizing:border-box;

  padding:0 10px;       /* bukan 10px semua sisi */
}

.prefix,
.phone-input input{
  height:100%;
}


#password{
  width:100%;
  padding:10px;
height:44px;
  border:1px solid #ddd;
  border-radius:8px;

  margin:10px 0;
  box-sizing:border-box;
}

.phone-input,
#password{
  width:100%;
  box-sizing:border-box;
}

.hidden {
  display: none;
}

.card {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.card h3 {
  color: #8e8e8c;
}


@media (max-width:376px){

  .card {
    width: 85%;
  }

}

@media (max-width:400px){

  .modal-content {
    width: 80%;
  }

  .card {
    width: 85%;
  }

}

@media (max-width:350px){

  .modal-content {
    width: 80%;
  }

  .card {
    width: 85%;
  }

}