/* ================= HEADER ================= */

.header h2{
    margin-bottom:6px;
}

.header p{
    font-size:14px;
    color: var(--text) !important;
}

/* ================= CARD ================= */

.card{
    padding:16px;
}

/* ================= BUTTON PILIH ================= */

.scanActions{
    display:flex;
    flex-direction:column;
    gap:12px;
}

.scanActions button{
    width:100%;
}

/* ================= FILE INFO ================= */

.infoFile{
    margin-top:15px;
    padding:16px;

    background:var(--bg);

    border:1px dashed #bbb;
    border-radius:12px;

    text-align:center;

    font-size:14px;

    color:var(--textSecondary);

    word-break:break-word;
}

/* ================= PREVIEW ================= */

#previewCard h3{
    margin-bottom:14px;
}

.previewForm{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.previewForm label{
    font-size:13px;
    font-weight:600;
    margin-bottom:-6px;
}

.previewForm input,
.previewForm select,
.previewForm textarea{

    width:100%;

    padding:10px 12px;

    border-radius:10px;

    border:1px solid rgba(0,0,0,.12);

    background:var(--bg);

    color:var(--text);

    font-size:15px;

    box-sizing:border-box;

}

.previewForm textarea{

    min-height:90px;

    resize:vertical;

}

/* ================= THUMBNAIL ================= */

.previewImage{

    width:100%;

    max-height:220px;

    object-fit:contain;

    border-radius:12px;

    background:var(--bg);

    border:1px solid var(--border);

    margin-bottom:15px;

}

/* ================= OCR INFO ================= */

.ocrInfo{

    padding:12px;

    border-radius:10px;

    background:var(--bg);

    font-size:13px;

    color:var(--textSecondary);

    margin-bottom:15px;

}

/* ================= SIMPAN ================= */

#btnSimpan{

    width:100%;

    margin-top:18px;

    font-size:16px;

    font-weight:700;

}

#btnCamera, #btnGallery {
    background-color: var(--text); 
}

.previewSheet{

    position:fixed;

    left:0;

    right:0;

    bottom:0;

    border-radius:24px 24px 0 0;

    background:var(--card);

    padding:20px;

    transform:translateY(110%);

    transition:.3s;

    z-index:1000;

    max-height:90vh;

    overflow:auto;

}

.previewSheet.show{

    transform:translateY(0);

}


/* ================= RESPONSIVE ================= */

@media(min-width:700px){

    .container{
        margin:auto;
    }

}