:root{
  --bg:#f5f7fb;
  --card:#ffffff;
  --text:#333;
  --primary:#3B82C4;
  --cardMenu:#ffffff;
  --button:#3B82C4;
  --cardList: #ffffff;
  --cardImport: #e0e0e0;

}

.dark{
  --bg:#121212;
  --card:#1e1e1e;
  --text:#ffffff;
  --primary:#1e1e1e;
  --cardMenu:#1e1e1e;
  --button:#333;
  --cardList: #222;
  --cardImport: #666;

}

body{
  background:var(--bg);
  color:var(--text);
  padding:20px;
  font-family:'Inter', sans-serif;
  padding-bottom: 90px;
}

.container{
  max-width:500px;
  margin:auto;
}

.card{
  background:var(--card);
  padding:16px;
  border-radius:10px;
}

input{
  width:100%;
  padding:10px;
  margin:8px 0;
  border-radius:8px;
  border:1px solid #ccc;
  box-sizing:border-box;
}

button{
  width:100%;
  padding:12px;
  background:var(--button);
  color:white;
  border:none;
  border-radius:8px;
  cursor:pointer;
  display:block;
  margin-top:10px;
}

button:hover{
  background:#2F6FA8;
  transform:translateY(-2px);
}

button:active{
  transform:translateY(0);
}

button:disabled{
  background:#999;
  cursor:not-allowed;
}

#footer{
  text-align:center;
  margin-top:20px;
  color:#777;
  font-size:14px;
}


